<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wise Price</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="ui menu">
            <a class="item header">
                WISE PRICE
            </a>
            <a class="item">
                Deals
            </a>
            <a class="item">
                Add
            </a>
            <div class="ui pointing dropdown link item right aligned">
                <span class="text">Profile</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">My Pinned Deals</a>
                    <a class="item">Posted Deals</a>
                    <a class="item">Account</a>
                </div>
            </div>
        </div>
    </header>
    <div class="ui container content">
        @RenderBody()
    </div>

    <footer>
        <div>Created by</div>
        <div>
            <a target="_blank" href='http://www.github.com/ayohana'>Adela Darmansyah</a> <a target="_blank" href='http://www.github.com/jiwon-seattle'>Jiwon Han</a> <a target="_blank" href='http://www.github.com/seschwartz8'>Sasa Schwartz</a> <a target="_blank" href='http://www.github.com/tsiu88'>Tiffany Siu</a>
        </div>
        <div>
            &copy; 2020 - Wise Price - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    

</body>
</html>
