@{
    ViewData["Title"] = "My Account";
}

<div class='account-body'>
  <div class='account-top'>
      <div class='col'></div>
      <h1>My Account</h1>
      <div class='col'></div>
  </div>

@if (User.Identity.IsAuthenticated)
{
  <div class='account-sub'>
    <div class='account-info'>
      <div class='row'>
        <h4>Username</h4>
        <p>detaildetaildetail</p>
      </div>
      <div class='row'>
        <h4>First Name</h4>
        <p>detaildetaildetail</p>
      </div>
      <div class='row'>
        <h4>Last Name</h4>
        <p>detaildetaildetail</p>
      </div>
      <div class='row'>
        <h4>Email</h4>
        <p>detaildetaildetaildetaildetail</p>
      </div> 
      <div class='row'>
        <h4>Zip Code</h4>
        <p>detail</p>
      </div>     
    </div>
  </div>

  <form asp-controller='Account' asp-action='Logoff' method='post'>
      <input type="submit" class="ui button" value="Log out" />
  </form>
}
else 
{
  <h4>You are not logged in</h4>
  <a asp-controller='Account' asp-action='Login' class='ui button'>Log In</a>
  <br/>
  <a asp-controller='Account' asp-action='Register' class='ui button'>Register</a>
}


</div>

