@{
    ViewData["Title"] = "My Account";
}

<div class='account-body'>
  <div class='account-top'>
      <div class='col'></div>
      <h1>My Account</h1>
      <div class='col'></div>
  </div>


  <div class='account-sub'>
    <div class='account-info'>
      <div class='row'>
        <h4>Username</h4>
        <p>detail</p>
      </div>
      <div class='row'>
        <h4>First Name</h4>
        <p>detail</p>
      </div>
      <div class='row'>
        <h4>Last Name</h4>
        <p>detail</p>
      </div>
      <div class='row'>
        <h4>Email</h4>
        <p>detail</p>
      </div> 
      <div class='row'>
        <h4>Zip Code</h4>
        <p>detail</p>
      </div>     
    </div>
  </div>

</div>

