@{
    ViewData["Title"] = "Register";
}

<div class='account-body'>
  <div class='account-top'>
      <div class='col'></div>
      <h1>Register</h1>
      <div class='col'></div>
  </div>


  <div class='account-sub'>
    <form asp-controller='Account' asp-action='Register' method='post' class="ui equal width form">
      <div class='two fields'>
        <div class='field'>
          <label>First Name</label>
          <!-- <input asp-for="FirstName" id='FirstName' placeholder='FirstName' required> -->
          <input id='FirstName' placeholder='FirstName' required>
        </div>

        <div class='field'>
          <label>Last Name</label>
          <!-- <input asp-for="LastName" id='LastName' placeholder='LastName' required> -->
          <input id='LastName' placeholder='LastName' required>
        </div>
      </div> 

      <div class='two fields'>
        <div class='field'>
          <label>Email</label>
          <!-- <input asp-for="Email" id='Email' placeholder='Email' required> -->
          <input id='Email' placeholder='Email' required>
        </div>   

        <div class='field'>
          <label>Username</label>
          <!-- <input type="username" id='username' asp-for="Username" required> -->
          <input id='username' placeholder='Username' required>
        </div>
      </div> 

      <div class='two fields'>
        <div class='field'>
          <label>Password</label>
          <!-- <input type="password" id='password' asp-for="Password" required> -->
          <input type="password" id='password' placeholder='Password' required>
        </div>

        <div class='field'>
          <label>Zip Code</label>
            <!-- <input asp-for="ZipCode" id='ZipCode' placeholder='ZipCode' required> -->
            <input id='ZipCode' placeholder='ZipCode' required>
        </div> 
      </div>


      <div class='submit-field'>
        <small>By registering, you agree to Wise Price's <a href=''>Privacy Policy</a></small>
        <input type="submit" value="Register" class="ui button" />
        <small>Already have an account? <a asp-action="Login">Register</a></small>
      </div>
    </form>
  
  </div>

</div>


