@{
    ViewData["Title"] = "Home";
}

<div class='homepage-body'>
    <div>
        <h1 class='title'>Wise Price</h1>
    </div>
    <div class='homepage-sub'>
        <div>
            <a asp-controller="Account" asp-action="Login">
                <button class="ui button">
                    Log In
                </button>
             </a>
        </div>
        <small>New to Wise Price? <a asp-controller="Account" asp-action="Register">Register.</a></small>
    </div>
</div>


