@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Wise Price</h1>
<div class='center-horizontal column'>
    <a asp-controller="Account" asp-action="Login">
        <button class="ui button">
            Log In
        </button>
    </a>
    <small>New to Wise Price? <a asp-action="Register">Register.</a></small>
</div>

