@{
    ViewData["Title"] = "Privacy Policy";
}

<div class='create-top'>
    <div class='col'></div>
    <h1>Privacy Policy</h1>
    <div class='col'></div>
</div>

<div class='create-body'>This page will detail the site's privacy policy. As of now, we do not keep your data private.</div>
