@{
    ViewData["Title"] = "Deals";
}

<div class='deals-body'>
    <div class='deals-top'>
        <div class='col'></div>
        <h1>My Pinned Deals</h1>
        <div class='col'></div>
    </div>

    <div class='deals-cards-container'>
    <!-- FOR LOOP FOR EACH CARD IN MODEL -->
        <div class="ui cards">
          <div class="card">
            <div class="ui top">
              <a><i class="thumbtack icon large red"></i></a>
            </div>
            <div class="content">
              <div class="header">Item Name</div>
              <div class="description">
                <div>
                  Store Location
                </div>
                <div>
                  Date
                </div>
              </div>
            </div>
            <div class="ui bottom">
              <a><i class="thumbs up outline icon blue large"></i></a>
              <a><i class="thumbs down outline icon red large"></i></a>
            </div>
          </div>
        </div>

    </div>

</div>


