@{
    ViewData["Title"] = "Deals";
}

<div class='deals-body'>
    <div class='deals-top'>
        <div class='col'></div>
        <h1>Posted Deals</h1>
        <div class='col'></div>
    </div>

    <div class='deals-cards-container'>
    <!-- FOR LOOP FOR EACH CARD IN MODEL -->
        <div class="ui cards">
          <div class="grey card">
            <div class="content">
              <div class="header">Item Name</div>
              <div class="description">
                <div>
                  Store Location
                </div>
                <div>
                  Date
                </div>
              </div>
            </div>
            <div class="ui bottom">
              <button class='ui button'>Edit</button>
              <button class='ui button grey'>Delete</button>
            </div>
          </div>
        </div>

    </div>

</div>


